[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_installation_path }}/nexus start
ExecStop={{ nexus_installation_path }}/nexus stop
User={{ nexus_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target